In [2]:
import pandas as pd
import numpy as np
from sklearn.decomposition import PCA

dataset = pd.read_csv('data/food_access_research_atlas.csv')
dataset.head()

,CensusTract,State,County,Urban,POP2010,OHU2010,GroupQuartersFlag,NUMGQTRS,PCTGQTRS,LILATracts_1And10,...,TractSeniors,TractWhite,TractBlack,TractAsian,TractNHOPI,TractAIAN,TractOMultir,TractHispanic,TractHUNV,TractSNAP
0,1001020100,Alabama,Autauga,1,1912,693,0,0,0.000000,0,...,221,1622,217,14,0,14,45,44,26,112
1,1001020200,Alabama,Autauga,1,2170,743,0,181,0.083410,0,...,214,888,1217,5,0,5,55,75,87,202
2,1001020300,Alabama,Autauga,1,3373,1256,0,0,0.000000,0,...,439,2576,647,17,5,11,117,87,108,120
3,1001020400,Alabama,Autauga,1,4386,1722,0,0,0.000000,0,...,904,4086,193,18,4,11,74,85,19,82
4,1001020500,Alabama,Autauga,1,10766,4082,0,181,0.016812,0,...,1126,8666,1437,296,9,48,310,355,198,488

In [4]:
dataset_desc = pd.read_csv('data/food_access_variable_lookup.csv')
dataset_desc.head()

         Field                 LongName                        Description
0  CensusTract             Census tract                Census tract number
1        State                    State                         State name
2       County                   County                        County name
3        Urban              Urban tract               Flag for urban tract
4      POP2010  Population, tract total  Population count from 2010 census

In [1]:
pca = PCA(n_components=10)
pca.fit(dataset)
ds = pca.transform(dataset)
ds.head()

NameError: name 'PCA' is not defined